<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseQueryLibrary.Properties.Settings.StateDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\School\CodeProjects\assignment-3-build-an-application-MoltenSlag\AlexGann-CPT-206-Lab-2\bin\Debug\StateDatabase.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>